/* Selectores generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    color: #ffffff;
    display: flex;
    justify-content: center;
}



/* Selectores de Carousel */

#seguir_viendo {
    height: 35vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
}

#para_ti {
    height: 35vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
}

#volver_aver {
    height: 35vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
}

.items {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 95%;
    height: 50vh;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
    border-radius: 20px;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-165%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(65%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 200px;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }



/* Selectores del footer */

ul {
    list-style: none;
}

footer {
    height: 300px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.background-box {
    background-color: #1b1b1b;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 -0.5rem 0;
}

.social li {
    margin: 0 0.8em;
    margin-right: 2em;
    margin-left: 2em;
}

.social a{
    color: #ffffff;
}

.social a i{
    font-size: 1.75em;
    transition: transform 0.3s ease-in-out;
    color: rgb(0, 0, 0);
}

.social a:hover i {
    transform: scale(1.2);
}

.avisos {
    width: 1170px;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.avisos li a{
    font-size: 1em;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    transition: all 0.3s ease;
}

.avisos li a:hover{
    transform: scale(1.2);
}

.footer-copyright{
    width: 100%;
    height: 2.1em;
    display: flex;
    justify-content: center;
    background-color: red;
    align-items: center;
}

.footer-copyright p{
    font-size: 0.9em;
    word-spacing: 0.1em;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.footer-copyright span {
    text-transform: uppercase;
    color: #ffffff;
}