:root {
    --color1: #FFFFFF;
    --color2: #1c1c1c; 
    --color3: #b52929; 
    --color4: #651717; 
    --title: "trade-gothic-next", sans-serif;
    --text:"trade-gothic-next-", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Estilos del NAV */



/* Estilos del HEADER */

/* p{
    margin: 3em;
} */

.header {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 7vh;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-logo {
    width: 150px;
    transition: filter 0.3s ease;
}

#header-logo:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(75%) saturate(600%) hue-rotate(345deg) brightness(95%) contrast(120%);
}




/*MENU*/
.container {
    font-size: 1.25rem; 
    padding: 0 15px; 
    transition: color 0.3s;
}

/* Estilos para el menú hamburguesa */

.navbar {
    background-color: #1c1c1c;
    padding: 0;
}

.navbar li a {
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 0;
    height: 3px;
    background-color: #ffffff; /* Color de la línea */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar li a:hover::after {
    width: 100%;
}

.collapse {
    height: 7vh;
}

.nav-link:hover {
    color: #FFFFFF !important;
}

.collapse li a {
    display: flex;
    justify-content: space-around;
    margin-right: 1em;
    margin-left: 1em;
}

.navbar-toggler {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    background-color: var(--color3); /* Color del botón hamburguesa */
    border: none;
}

.offcanvas-start {
    background-color: var(--color3); /* Fondo deslizante en color --color3 */
    width: 70%; /* Ajusta el ancho del menú deslizante */
}

.offcanvas-title {
    color: var(--color1); /* Color del título del menú */
}

.offcanvas .nav-link {
    color: var(--color1); /* Color de los enlaces */
    font-family: var(--title);
    font-size: 2.5rem;
}

.offcanvas .nav-link:hover {
    color: var(--color2); /* Color al pasar el cursor */
}

.offcanvas .btn-close {
    border: none;
    filter: invert(100%);
    opacity: 1;
    margin-bottom: 1em;
}


.offcanvas .btn-close:hover {
    background-color: #d5cbec46;
    transition: 0.3s;
}

.offcanvas .btn-close:focus {
    box-shadow: none !important;
}

/* Estilos personalizados para el botón del menú */
.custom-toggler {
    border: none; /* Sin borde */
    background-color: var(--color3);
    border-radius: 30px; /* Bordes redondeados estilo pastilla */
    padding: 5px 10px; /* Sin fondo */
    width: 80px;
    height: 40px;
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra las barras horizontalmente */
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  }

  .custom-toggler:hover {
    background-color: var(--color4);
    color: var(--color1);
    transition-duration: 0.3s;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: none;
    display: inline-block;
    position: relative;
    width: 24px; /* Ajusta el ancho de las barras */
    height: 2px; /* Grosor de las barras */
    background-color: white; /* Color blanco para las barras */
  }
  
  .custom-toggler .navbar-toggler-icon::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    left: 6px;
    background-color: white; /* Color blanco para las barras superior e inferior */
  }
  .custom-toggler .navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    left: -6px;
    background-color: white; /* Color blanco para las barras superior e inferior */
  }
  
  .custom-toggler .navbar-toggler-icon::before {
    top: -8px; /* Espacio entre la barra superior y la barra central */
  }
  
  .custom-toggler .navbar-toggler-icon::after {
    top: 8px; /* Espacio entre la barra inferior y la barra central */
  }
  
  .custom-toggler:focus,
.custom-toggler:active {
  outline: none; /* Elimina el borde de enfoque */
  box-shadow: none; /* Elimina cualquier sombra */
}





/* NOTICIAS */



/* Título de la portada */
.titulos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--title);
    font-weight: 800;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#noticias h1 {
    font-family: var(--title);
 
    text-align: center;
    font-weight: 800;
}

.flecha-abajo {
    position: absolute;
    bottom: 60px; /* Ajusta la distancia del fondo */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: var(--color1);
    background-color: var(--color3); /* Fondo rojo */
    width: 50px;  /* Ancho fijo */
    height: 50px; /* Alto fijo */
    border-radius: 50%; /* Hace el fondo circular */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.3s;
}


.flecha-abajo:hover {
    transform: translateX(-50%) translateY(5px);
}

#noticias h2 {
    font-family: var(--title);
    margin-bottom: 0.6em;
    text-align: center;
    font-size: 2rem;
}

.cabecera-noticia{
    padding: 3em;
}

.pt-noticias{
    text-align:center;
    margin: 1em 4em 0em 4em;
    font-size: larger;
    padding: 0 2em;
}

.cabecera-noticia h2{
    font-weight: 700;
    margin-top: 1em;
    text-align: center;

}

#noticias strong {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center !important;
}


#noticia2 h3{
    font-weight: 800;
    margin-top: 2em;
    text-align: center;
}

#noticia2 img{
    margin-top: 3em;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: 5px;

}

#portada_noticias {
    height: 100vh;
    width: 100vw;
    background-image: url(../media/img/gente_concierto.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


  
.col-12{
    padding: 0 !important;
}

.col-12 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 1em 0;
    border-radius: 10px;
}


.btn {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #b52929;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: var(--color4);
    color: var(--color1);
    transition-duration: 0.3s;
}



#carouselNoticiasRelacionadas h3{
    font-size: 2vh;
}

.noticia{
    text-align: justify;
}

#noticias{
    margin-bottom: 6vh;
}


.marquee {
    width: 100%;
    height: 90px;
    background-color: var(--color3);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .marquee li {
    font-size: 6vh;
    color: var(--color1);
    font-weight: 800;
  }
  
  .marquee__content {
    display: flex;
    list-style: none;
    animation: scrolling 10s linear infinite;
    margin: 0 !important;
    
  }
  
  .marquee__item {
    flex-shrink: 0;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
  }





/* Estilo para imágenes cuadradas y alineadas */
.noticia-img {
    width: 100%;
    height: 300px; /* Ajuste de altura para mantener proporción cuadrada */
    object-fit: cover;
    border-radius: 8px;
}

/* Ajuste de los controles de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 35%; /* Coloca los controles más arriba */
    width: 45px;
    height: 45px;
    background-color: var(--color3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transition: all 0.3s ease;
}

.carousel-control-prev {
    left: -20px;
}

.carousel-control-next {
    right: -20px;
}

/* Efecto hover en los controles */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: var(--color4);
    transform: scale(1.1);
}

/* Alineación vertical de elementos en cada columna del carrusel */
.carousel-item .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.carousel-item h3,
.carousel-item p {
    margin: 10px 0;
}

.carousel-item button {
    margin-top: auto;
}







.footer {
    background-color: var(--color-dark);
    color: var(--color-primary);
}

.footer a {
    color: var(--color-primary);
}

.footer li {
    font-size: 1em !important;
}

.pb-4 {
    padding-bottom: 0 !important;
}

#group {
    font-size: 1em;
}

#social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
}

#social i {
margin-right: 0.7em;
}

input[type="email"] {
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

/* NEWSLETTER */

#btn-news {
    margin: 0!important;
}

/* FIRMA */

#copyright {
    background-color: #b52929;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright p {
    margin-bottom: 0 !important;
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
    .col-xl-7, .col-xl-5 {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .pt-noticias, .noticia {
        padding: 0 1em; /* Reduce el espacio lateral en pantallas más pequeñas */
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .cabecera-noticia {
        padding: 1em;
       
    }

    .pt-noticias {
        margin: 0.5em;

    }

}


